option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: 600
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /admin/login/
    Port: 8000
    Protocol: HTTP
