option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: 180
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /healthz
    Port: 80
    Protocol: HTTP
    HealthCheckTimeout: 180
