packages:
  yum:
    libpq-devel: []
    gcc: []
    mariadb105-devel.x86_64: []
    python3-devel: []
    mesa-libGL: []

commands:
  01_install_poetry:
    command: |
      curl -sSL https://install.python-poetry.org | python3.13 -
      echo 'export PATH=$HOME/.local/bin:$PATH' >> /etc/profile.d/poetry.sh
      chmod +x /etc/profile.d/poetry.sh

  02_verify_poetry:
    command: |
      source /etc/profile.d/poetry.sh
      poetry --version
