option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ie_professor_management.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

packages:
  yum:
    git: []

container_commands:
  01_collectstatic:
    command: |
      source /var/app/venv/staging-LQM1lest/bin/activate
      python manage.py collectstatic --noinput
    leader_only: true

  02_run_migrations:
    command: |
      source /var/app/venv/staging-LQM1lest/bin/activate
      python manage.py migrate
    leader_only: true

